          details {
            font-family: "Open Sans Light", Helvetica, Arial, sans-serif;
          }
          .name {
            font-weight: bold;
            color: #fcb3d7;
            font-size: 120%;
          }
          h4 {
            margin: 10px 0 -8px 0;
            background: #c0217b;
            color: white;
            padding: 2px 6px;
            border: 1px solid #d275b9;
            border-radius: 4px;
          }
          .attributes {
            margin-left: 22px;
            font-size: 90%;
          }
          .attributes p {
            margin-left: 16px;
            font-style: italic;
          }
